#main {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:lavender;
    font-size:100%;
}

::selection {
    color:blue;
    background: violet;
}

.ase {
    height: 100px;
    width: 100px;
    opacity: 0.9;
    position: absolute;
    right: 20px;
    top: -5px;
}

.left {
    text-align:left /* Blah blah blah */
} 

.rightfade {
    text-align:right;
    color:rgb(97, 97, 97, 0.2);
    font-weight:bold;
}

.list {
    text-align: left;
    font-weight: bold;
    font-family: Noto Sans, sans-serif;
    border-style: groove;
    border-width: 9px;
    border-color: lavenderblush;
}

.sorandom {
    border-style: dashed outset dotted groove;
    border-color:gold red orange blue;
    border-width: 5px 9px 8px 6px;
    font-weight:bold;
}

#radius {
    border: 2px solid purple;
    width: 545px;
    margin: auto;
}

.box {
    background-color:grey;
    width: 315px;
    border: 8px solid black;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: 12px outset rgb(153, 150, 150);
}

.post div {
    padding: 0.625em; 
    border: 0.15625em solid red; 
    outline: 0.4375em outset crimson; 
    width: 90vw; 
    margin: auto;
    margin-bottom: 1.875em; 
}

.post h1 {
    text-transform: uppercase;
    color: rgb(39, 26, 26);
}

.post p {
    margin: auto;
    color: rgb(2, 2, 2);
    letter-spacing: 0.09375em; 
    text-indent: 1.5625em; 
    font-weight: 600;
}

.post b {
    color:crimson;
}

.post img {
    float:left;
    width: 300px;
    height: 200px;
}

#quote {
    word-spacing: 4px;
    text-shadow: 0.7px 1.8px rgb(71, 8, 8);
    font-size: small;
}

#quote em {
    font-weight: bold;
}

a:link {
    background-color:blanchedalmond;
    color: rgb(0, 0, 0);
    display:inline-block;
    text-decoration: none;
    padding: 13px 12px;
    font-weight: bold;
    margin-bottom: 30px;
}

a:hover {
    background-color: rgb(252, 219, 171);
    font-size: 105%;
}

.list2 ol {
    background: rgb(0, 0, 0);
    padding: 0.666em;
    margin: auto;
    width: 445px;
    margin-bottom: 25px;
}

.list2 li {
    list-style-position: inside;
    margin:4px;
    background-color: rgb(199, 202, 10);
    color: rgb(255, 0, 0);
    font-weight: lighter;
    text-shadow: 0.7px 0.9px rgb(112, 3, 3);
}

#table {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse:collapse;
    margin: auto;
    margin-bottom: 25px;
    width: 30%;
    border-style: solid;
    border-color:rgb(151, 150, 150);
    border-width: 9.5px;
    padding-bottom: 5px;
    text-shadow: 0.3px 0.4px;
    background-color: rgb(255, 255, 255);
}

#table td {
    border: 2.5px solid rgb(92, 79, 79);
    padding: 4.5px;
    
}

#table tr:hover {background-color: rgb(196, 196, 212);}

#table th {
    padding: 4.5px;
    background-color: rgb(207, 204, 204);
}

div.outside {
    font-weight: bold;
    font-size: larger;
    position: relative;
    width: 300px;
    height: 200px;
    border: 4px solid;
    border-color: rgb(158, 0, 79);
    background-color: rgb(150, 0, 219);
    margin: auto;
    margin-bottom: 25px;
}

div.inside {
    position: absolute;
    width: 250px;
    border: 4px solid;
    border-color: rgb(139, 3, 3);
    background-color: rgb(0, 0, 0);
    color: rgb(207, 0, 0);
    right: 20px;
    bottom: 55px;
}

.inside p {
    position: absolute;
    width: auto;
    border: 1px dotted;
    border-color: rgb(126, 10, 74);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    left: 220px;
    bottom: -62px;
    font-size: 8px;
}

.post2 div {
    padding: 0.625em; 
    border: 0.15625em solid red; 
    outline: 0.4375em outset crimson; 
    width: 90vw; 
    margin: auto;
    margin-bottom: 1.875em; 
    background-color: black;
}

.post2 h1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.post2 p {
    margin: auto;
    color: rgb(255, 255, 255);
    letter-spacing: 0.09375em; 
    text-indent: 1.5625em; 
    font-weight: 600;
}

.post2 b {
    color:crimson;
}

.post2 img {
    float:top;
    width: 415px;
    height: 315px;
    margin-bottom: 15px;
}

.invisible {
    display: none;
  }

.visible:hover .invisible {
    display: block;
    color: rgb(189, 9, 9);
    font-size: 10px;
    font-weight: bold;
  }

.visible {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-style: solid;
    width: 300px;
    margin:auto;
    margin-bottom: 45px;
  }

.navhorz {
    list-style-type: none;
    margin: auto;
    text-align: center;
}

.navhorz li {
    display: inline-block;
    margin-left: 3px;
}

.navhorz a {
    background-color: rgb(255, 255, 255);
    padding: 6px 12px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    font-size: 15px;
}

.navhorz a:hover {
    background-color: aqua;
    font-size: 125%;
}

.navvert {
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: left;
}

.navvert li {
    display: block;
    margin: auto;
}

.navvert a {
    margin-top: -25px;
    background-color:black;
    width: 180px;
    color:white;
    text-align: left;
}

.navvert a:hover {
    background-color: rgb(119, 3, 80);
    font-size: 115%
}

.downdown {
    text-align: center; 
    position: relative; 
}

.dropdown-trig {
    display: inline-block; 
    cursor: pointer; 
}

.downdown a {
    border-style: solid;
    border-color:rgb(43, 43, 170);
    display: block;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    text-align: center; 
}

.dropdown-stuff {
    display: none;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    width: 300px;
    text-align: left; 
}

.dropdown-trig:hover + .dropdown-stuff, .dropdown-stuff:hover {
    display: block;
}

.dropdown-stuff a:hover {
    background-color: cadetblue;
}

.form {
    background-color: silver;
    margin: auto;
    width: 775px;
    height: 350px;
    margin-top: 145px;
    padding-top: 60px;
    left: 43%;
}

.form h2 {font-size: 20px;}

input[type=text] {
  width: 230px;
  max-width: 800px;
  box-sizing: border-box;
  border: 5px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  transition: width 2s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

input.two[type=text], select {
    width: 10%;
    padding: 6px 14px;
    margin: 12px 12px;
    display: inline-block;
    border: 1.5px solid rgb(214, 9, 9);
    transition: 0.2s;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: silver;
}

input.two[type=text]:focus {
    font-size: 110%;
    border-color: rgb(255, 0, 0);
    border-width: 3px;
}

input.two[type=submit] {
    width: 300px;
    height: 50px;
    background-color: blueviolet;
    color: gold;
    padding: 9px 13px;
    margin: 4px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

input.two[type=submit]:hover {
    background-color:rgba(104, 25, 179, 0.705)
}

.divform {
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: rgb(255, 255, 255);
}

textarea.two {
    margin-top: 7px;
    width: 30%;
    height: 220px;
    padding: 5px 13px;
    box-sizing: border-box;
    resize: none;
    border-color: rgb(255, 0, 0);
    border-width: 3px;
}

.shadow {
    border-style: solid;
    border-color: red;
    box-shadow: 6px 6px;
    margin: auto;
    width: 300px;
}

span {
    writing-mode: vertical-lr;
}

div#rotate {
    transform: rotate(-25deg);
    background-color: darkgreen;
    margin: auto;
    width: 150px;
    padding: 5px;
    font-weight: bold;
    color:lightgreen;
}

div#rotate2 {
    position: absolute;
    transform: rotate(25deg);
    background-color: darkgreen;
    width: 150px;
    padding: 5px;
    font-weight: bold;
    margin-left: 46.6%;
    margin-top: 77px;
    color: lightgreen;
}

div.jump {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 250px;
    margin-left: 250px;
    width:300px;
    height: 300px;
    background: sienna;
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.jump:hover {
    width: 600px;
    height: 600px;
    transform: rotate(360deg);
    font-size: 110%;
    font-weight: bold;
}