#main {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:lavender;
}

.ase {
    height: 100px;
    width: 100px;
    opacity: 0.9;
    position: absolute;
    right: 20px;
    top: -5px;
}

.left {
    text-align:left /* Blah blah blah */
} 

.rightfade {
    text-align:right;
    color:rgb(97, 97, 97, 0.2);
    font-weight:bold;
}

.list {
    text-align: left;
    font-weight: bold;
    font-family: Noto Sans, sans-serif;
    border-style: groove;
    border-width: 9px;
    border-color: lavenderblush;
}

